body {
  background-color: #F4F1DE;
}
  
   .Home {
    text-align: center;
  }
  
  .Logo {
    top: 0px;
    right: 100px
  }

  
  
  
  @media (min-width: 1250px) {
    #Home .column {
      float: left;
      width: 33.33%;
    }
  }
  
  .column img{
    height: 300px;
  }
  
  .imageButton {
    border: none;
    background: transparent;
    font: 0;
  }
  
  .imageButton:hover {
    border: solid;
    border-color: black;
    margin: -2px;
    cursor: pointer;
  }
  
  .Coffee-Image {
    height: 25vmin;
    pointer-events: none;
  }
  
  .Plants-Image {
    height: 40vmin;
    pointer-events: none;
  }
  
  .Seeds-Image {
    height: 20vmin;
    pointer-events: none;
  }
  
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: black;
    margin-top: 200px;
  }
  
  .App-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  /*Text when Hovering*/
  
  .img__wrap {
    position: relative;
  }
  
  .img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(36, 62, 206, 0.6);
    color: #000;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
  
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
  }
  
  .img__description {
    transition: .2s;
    transform: translateY(1em);
  }
  
  .img__wrap:hover .img__description {
    transform: translateY(0);
  }