* {
  background-color: #F4F1DE;
}

 .App {
  text-align: center;
}

.Logo {
  top: 0px;
}


@media (min-width: 1250px) {
  .column {
    float: left;
    width: 33.33%;
  }
}

.column img{
  height: 300px;
}

.imageButton {
  border: none;
  background: transparent;
  font: 0;
}

.Coffee-Image {
  height: 25vmin;
  pointer-events: none;
}

.Plants-Image {
  height: 40vmin;
  pointer-events: none;
}

.Seeds-Image {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-top: 200px;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: black;
}
